* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

:root {
  --Soft-orange: hsl(35, 77%, 62%);
  --Soft-red: hsl(5, 85%, 63%);
  --Off-white: hsl(36, 100%, 99%);
  --Grayish-blue: hsl(233, 8%, 79%);
  --Dark-grayish-blue: hsl(236, 13%, 42%);
  --Very-dark-blue: hsl(240, 100%, 5%);
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.container {
  max-width: 68.7rem;
  margin: 0 auto;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;
}

.menu-links {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.menu-links li {
    color: var(--Dark-grayish-blue);
    cursor: pointer;
}

ul {
    list-style: none;
}

.left img {
  width: 100%;
}

.main-container {
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  max-height: 46rem;
}

.left {
  grid-column: 2 span;
  grid-row: 1 span;
}

.left-info {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.left .title {
  font-size: 3rem;
  color: var(--Very-dark-blue);
  width: 18rem;
}

.left-text {
  color: var(--Dark-grayish-blue);
  width: 21rem;
}

.left-read {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.left-read button {
  background-color: var(--Soft-red);
  border: none;
  color: var(--Off-white);
  width: 12.5rem;
  padding: 1rem;
  letter-spacing: 0.3rem;
  font-weight: 700;
}

